/* Formbuilder css
------------------------------------------------ */
.fbSubdiv1{
 /* padding-top: 70px; */
 width:98%;
 margin-left: .5%;
}



/* ---------------------------------------------- */
/* projectBar css */

.borjectbarMainDiv{
   height: 63px;
   width: calc(100% - 4px);
   border: 2px solid rgb(199, 199, 199);
   margin: 2px;
 
 
}
.borjectbarMainDiv > h3 {
   float: left !important;
   padding: 10px;
}

.subdiv1 {
   display: flex;
   float: right !important;
   margin-right: 40px;
}

.modal {
   /* position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background: rgba(0, 0, 0, 0.5);     
   display: flex;
   align-items: center;
   justify-content: center;
   z-index: 1; */
   width: 700px;
   height: 600px
}

.modalBody {
   background: white;
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
   height: 400px;
   width: 600px
 }

/* ----------------------------------------------
Form presenter css */

.fpMainDiv{
  border: 2px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.fpSubDiv1{
   height: 100%;
   min-height: calc(100vh - 4px);
   width: 15%;
   border: 2px solid black;
   overflow-y: auto;
   text-align: center;
   
}
.fpSubDiv2{
    height: 100%;
    width: 85%;
    /* border: 2px solid black; */

 }

 .fpNav {
     height: 60px;
     width: 100%;
     border: 2px solid black;
     position: fixed;
     
 }

 .fpNav> h3{
    padding: 10px
 }

 .fpSD2div1{
    margin-top: 70px;
    height: calc(100vh - 78px);
    overflow-y: auto;
    width:99%;
    margin-left: 1%;
    padding-bottom: 20px;
 }

